<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PET Store Suite">
    <listeners>
        <listener class-name="api.utilities.ExtentReportManager"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="Pet Store Tests">
        <classes>
<!--        <class name="api.test.DataDrivenTests">-->
<!--&lt;!&ndash;            <methods>&ndash;&gt;-->
<!--&lt;!&ndash;                <include name="createUserTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;                <include name="getUserTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;                <include name="deleteUserTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;            </methods>&ndash;&gt;-->
<!--        </class>-->
            <class name="api.test.UserTests">
<!--                <methods>-->
<!--                    <include name="createUserTest"/>-->
<!--                    <include name="getUserTest"/>-->
<!--                    <include name="setUserPayloadTest"/>-->
<!--                    <include name="deleteUserTest"/>-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
</suite>